*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: url(../pics/backkround.png) fixed;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.box{
    background-color: white;
    max-width: 1000px;
    width: 90%; 
    margin: 40px auto;
    box-shadow: 0 0 40px black;
}

.box .box-content{
    padding: 20px;
}

.box .header-image{
    background: url(../pics/csgo-1.jpg) top center;
    height: 400px;
    
}

.box .box-content p{
    color: #535353
}

.box .box-content h2{
    margin: 0;
    color: #b84517
}

.box .box-content .details{
    margin: 16px 0 0 0
}

.box .box-content .details a{
    background: #2f7bb9;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

