@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');


html{
    height: 100%
}
body 
{
 font-family:'Ravi Prakash', cursive;
 color: white;
 font-style: italic;
 font-size: 20px;
 font-weight: 200;
 background-image: url(../bg-body.gif);
 background-repeat: repeat;
 background-position:bottom right ;
 background-attachment: fixed;
}

div{
    border: solid 10px aquamarine ;
    padding: 20px 0 10px 0;
    width: 90%;
    border-left-width: 30px;
    border-right: dotted red;
    margin: 20px;
}