
* {
    box-sizing: border-box;
}

html{
    height: 100%
}
body{
    font-family: 'DotGothic16', sans-serif;
    color: yellow;
    font-size: 20px;
    font-style: inherit;
    line-height: 30px;
    background-image: url(../bg-body.gif);
    background-repeat: repeat;
    background-position: bottom center;
    background-attachment: fixed;
}

div{
    width: 400px;
    padding: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: yellow
}