@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html{
    height: 100%
}
body{
    font-family: Arial, sans-serif;
    color: white;
    font-style: italy;
    line-height: 20px
    background-image:url(../bg-body.gif);
    background-repeat:no-repeat;
    background-size: auto;
    background-position:center ;
}