*{
    box-sizing: border-box;
}
body{
   margin: 0;
   background: url(../pics/bg-body.jpg);
   background-size: cover;
}
header{
    background: url(../pics/bg-header.jpg) no-repeat;
}
.wrapper{
    max-width: 800px;
    margin: 80px auto;
}
nav{
    background: rgba(190, 0, 0)
}
nav::after{
    content:"";
    clear: both;
    display: table;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
nav a:hover{
    background: rgba(0,0,0,.8)
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    float: left;
}
main{
    padding: 40px;
}