@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 10px;
    font-style: italic;
    line-height: 20px;
    background-image: url(../bg-body.gif);
    background-position: center center;
    background-attachment: fixed;
}

div {
    width: 90%;
    padding: 20px 0 10px 0;
    border: 10px solid red;
    border-left-width: 30px;
    border-right: dotted gray;
    margin: 20px auto 20px auto;
}