* {
    box-sizing: border-box;
}

body {
    background: url(../pics/bg-body.gif) fixed;
}

.box {
    background-color: white;
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
}

.box .header-image {
    background: url(../pics/image1.jpg) top center;
    height: 200px
}

.box .box-content p {
    color: #535353
}

.box .box-content h2 {
    margin: 0;
    color: 32859d;
}

.box .box-content .details {
    margin: 16px 0 0 0
}

.box .box-content .details a {
    background: #feb127;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none
}