@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    font-family: 'Mina', sans-serif;
    margin: 0px;
    color: black;
    font-size: 20px;
    font-style: normal;
    background-image: url(../pics/backg.jpeg);
    background-position: bottom center;
    background-attachment: fixed;
}

header {
    background: url('../pics/header-image.jpg') no-repeat;
    height: 360px;
    position: relative;
    color: white;
    text-shadow: 0 0 20px rgba(88, 222, 255, .8);
}

header h1 {
    font-size: 85px;
    font-weight: 700px;
    padding: 80px 60px;
    color: white;
    text-shadow: 0 0 20px rgba(88, 222, 255, .8);
    position: relative;
}

.wrapper {
    max-width: 800px;
    margin: 80px auto;
}

nav {
    background: rgba(7, 41, 192, .7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

nav a:hover {
    background: rgba(0, 0, 0, .8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav .submenu {
    position: absolute;
    width: 220px;
    display: none;
}

nav .has-submenu {
    position: relative;
}

nav .has-submenu::after {
    content: "⥥";
    color: white;
    position: absolute;
    top: 20px;
    right: 10px;
}

nav .has-submenu:hover .submenu {
    display: block;
}

nav .submenu a {
    background: rgba(14, 42, 165, 0.7);
    padding: 10px 20px;
}

nav .has-submenu>a {
    padding-right: 30px;
}

nav .submenu a:hover {
    background: black;
}

.box {
    background-color: white;
    line-height: 30px;
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}


/* Revita */

.box .box-content {
    padding: 20px;
    line-height: 30px;
}

.box .box-content h1 {
    font-size: 50px;
    margin: 20px 0px;
    color: #2010ad;
}

.box .header-image {
    background: url(../pics/Revita.jpg) top center;
    height: 350px;
}

.box .box-content .details {
    margin: 16px 0 0 0;
}

.box .box-content .details a {
    background: #f0be1b;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: dashed;
}


/* Rocket League */

.box.box-2 .box-content {
    padding: 20px;
    line-height: 30px;
}

.box-box-2 .box-content h1 {
    font-size: 50px;
    margin: 20px 0px;
    color: #2010ad;
}

.box.box-2 .header-image {
    background: url(../pics/RL.jpg) top center;
    height: 450px;
}

.box.box-2 .box-content .details {
    margin: 16px 0 0 0;
}

.box-box-2 .box-content .details a {
    background: #f0be1b;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: dashed;
}


/* Valheim */

.box.box-3 .box-content {
    padding: 20px;
    line-height: 30px;
}

.box-box-3 .box-content h1 {
    font-size: 50px;
    margin: 20px 0px;
    color: #2010ad;
}

.box.box-3 .header-image {
    background: url(../pics/Valheim.jpg) top center;
    height: 355px;
}

.box.box-3 .box-content .details {
    margin: 16px 0 0 0;
}

.box-box-3 .box-content .details a {
    background: #f0be1b;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: dashed;
}